/* WIREFRAME TESTING */

/* This section will create dashed borders around all elements, uncomment the below code when building layout */

/*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

*/

/* END WIREFRAME TESTING */


/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  color: #222;

  /*Apply Google Font*/
  font-family: sans-serif;

  /* Full background */
  /*background: url('../img/unsplash01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

  /* Default Google font stylings for all H tags */
/*
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}*/

  /*Link styles*/

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

 /* Clearfix */

.clearfix {
content: "";
display: table;
clear: both;
}

/*NAVBAR*/

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/*CAROUSEL*/

#carousel-example-generic {
  background: #c0c0c0;
}

#carousel-example-generic img {
  margin: 0 auto;
  width: 40%;
}

/*ROW STYLES*/
.row:nth-of-type(3) {
  margin-top: 30px;
}

.row:nth-of-type(4) img {
  width: 100%;
  margin: 15px auto;
}


/*MODERN BUSINESS FEATURES*/

.row:nth-of-type(5) ul {
  margin-left: 40px;
}

.row:nth-of-type(5) img {
  width: 100%;
}


/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
  #carousel-example-generic img {
    width: 80%;
  }
}


/* Medium Devices */
@media only screen and (max-width : 992px) {
  #carousel-example-generic img {
    width: 70%;
  }
}


/* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {

 }
